name: Push Test

on:
  pull_request:
  push:

jobs:
  test:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Run build
        run: cargo build --release